.buy_number_input{
    height:24px;
    background:url(i/mall/number_input.png) no-repeat;
    width: 56px;
    margin: 5px auto;
}
.buy_number_input span{
    float:left;
    height:22px;
    line-height:21px;
    width:11px;
    text-align:center;
    display:block;
    cursor:pointer;
}
.buy_number_input input{
    float:left;
    width:32px;
    height:22px;
    line-height: 22px;
    border:none;
    text-align: center;
    background:none;
}
#header_container{
    height: 128px;
}
#header #top_nav{
    display: none;
}
#cart{

}
#cart .step{
    margin-bottom:20px;
}
#cart .cart_products{
    margin-bottom:20px;
}
#cart .cart_products table{
    border:1px solid #ccc;
    border-top:none;
    font-size:14px;
}
#cart .cart_products th{
    height:29px;
    background:url(i/mall/filter_title_bg.png);
}
#cart .cart_products table td{
    padding-bottom: 10px;
}
#cart .cart_products table .pic{
    margin-left:35px;
    width: 110px;
    height:70px;
    border:1px solid #ccc;
    float:left;
    display:inline;
    text-align: center;
    overflow: hidden;
}
#cart .cart_products table .name{

}
#cart .cart_products table .name a{
    color:#000;
}
#cart .cart_products table .name a:hover{
    color:#ED145B;
}
#cart .cart_products table td.product_box{
    width: 156px;
    overflow: hidden;
}
#cart .cart_products table td.number_box{
    text-align:center;
    width:150px;
}
#cart .cart_products table td.price_box{
    width:140px;
    text-align:center;
    font-family:"Microsoft YaHei";
}
#cart .cart_products table td.count_price_box{
    font-size: 16px;
    font-family: Helvetica, arial, sans-serif;
    font-weight: 400;
    text-align: center;
    padding-right: 10px;
    width: 120px;
}
#cart .cart_products table td.action_box{
    width:65px;
}
#cart .cart_products table td.count{
    width:100%;
}
#cart .cart_products table td.count div{
    margin:0 35px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    height:29px;
    line-height:29px;
    text-align:right;
}
#cart .cart_products table td.confirm_btn{
    text-align:right;
    padding-right:30px;
}
#cart .cart_products table td.count div span{
    font-size: 16px;
    font-family: Helvetica, arial, sans-serif;
}
#cart .cart_empty{
    border:1px solid #ccc;
    margin-bottom:20px;
    padding: 20px 35px;
}
#cart .cart_empty span{
    height:15px;
    line-height:16px;
    display:block;
    background:url(i/mall/cart_ico.png) no-repeat;
    padding-left:18px;
    margin-bottom:15px;
    font-size:14px;
}
#cart .cart_other_products ul.product_list li{
    margin: 0 18px;
    height: 270px;
    display: inline;
}
#cart .cart_left{
    width:650px;
    border:1px solid #ccc;
    padding:10px 30px;
    float:left;
    color:#333;
    overflow: hidden;
}
#cart .cart_left .option{
    font-size:12px;
}
#cart .cart_left .option .title{
    font-size:14px;
    line-height:25px;
    font-weight:bold;
    height:25px;
    margin-bottom:10px;
    color: #ED145B;
    margin: 10px 0;
}
#cart .cart_left .option .content{
    border-bottom:1px dashed #ccc;
    padding-bottom: 10px;
}
#cart .cart_left .option .content .option_box{
    padding: 10px 0;
    font-size: 14px;
}
#cart .cart_left .option .content div.selected{
    background: none repeat scroll 0 0 #e7f5d0;
}
#cart .cart_left .option .content .option_box input,#cart .cart_left .option .content .option_box label{
    float:left;
    display: inline;
}
#cart .cart_left .option .content .option_box input{
    height: 12px;
    padding: 0px;
    margin: 2px;
}
#cart .cart_left .option .content .option_box label{
    margin-left:8px;
    overflow: hidden;
    cursor: pointer;
    width: 600px;
}
#cart .cart_left .cart_products table{
    border:none;
}
#cart .cart_left .cart_products th{
    font-size:12px;
}
#cart .cart_left .cart_products td .pic{
    margin-left:0;
}
#cart .cart_left .cart_products td .name{
    font-size:12px;
    width:145px;
}
#cart .cart_left .cart_products td.count{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
#cart .cart_left .cart_products td.price_count{
    padding-top:10px;
    color:#ED145B;
}
#cart .cart_left .cart_products td.count span.left{
    color:#000;
}
#cart .cart_left .cart_products td.count span.left,#cart .cart_left .cart_products td.price_count span.left{
    font-size:14px;
    font-weight:500;
    float:left;
}
#cart .cart_left .cart_products td.price_count span.left{
    font-weight: 600;
}
#cart .cart_left .cart_products td.price_count span.right{
    font-family: Helvetica, arial, sans-serif;
    font-size:18px;
    font-weight:600;
    float:right;
    padding-right: 10px;
}
#cart .cart_left .cart_products td.count span.right{
    color:#000;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
}
#cart .cart_left .cart_products td.count div{
    margin:0;
    border:none;
}
#cart .cart_left .cart_products .title{
    font-size:14px;
    font-weight:bold;
    margin:15px 0 10px 0 ;
}
#cart .cart_left .cart_products .title a{
    font-size:12px;
    font-weight:500;
}
#cart .big_width{
    width:933px;
}
#cart .paytype .title{
    font-size:14px;
    font-weight:bold;
    line-height:30px;
    color: #ED145B;
}
#cart .paytype #paytype_balance_info{
    font-size: 14px;
}
#cart .paytype #paytype_balance_info span{
    color:#ED145B;
}
#cart .share{
    margin-top:20px;
    padding:5px;
    background:#E7F5D0;
}
#cart .share input,#cart .share label{
    float:left;
}
#cart .share label{
    margin-left:5px;
}
#cart .confirm_pay{
    margin-top:20px;
    margin-bottom: 10px;
}
#cart .confirm_pay a{
    float:left;
    line-height:68px;
    height:48px;
    overflow:hidden;
}
#cart .confirm_pay input{
}
#cart .cart_right{
    float:right;
    width: 260px;
}
#cart .cart_right .cart_sidebar_box{
    border:1px solid #ccc;
    border-top:none;
    width:258px;
    overflow: hidden;
}
#cart .cart_right .cart_sidebar_box .title{
    background:url(i/mall/filter_title_bg.png);
    height:29px;
    width:248px;
    line-height:29px;
    font-weight:bold;
    padding-left:10px
}
.cart_sidebar_box p{
    padding:10px;
}
.cart_sidebar_box p input{
    margin:10px 0;
}
#cart .cart_notice{
    border:1px solid #ccc;
    height:77px;
    border-bottom:none;
    width: 710px;
}
#cart .cart_notice span{
    margin:27px 30px;
    padding-left:25px;
    font-size:14px;
    font-weight:bold;
    height:22px;
    background:url(i/cart/notice_ico.png) no-repeat;
    display:block;
    line-height:22px;
}
#cart ._notice{
    background:#ebfece;
    border:1px solid #c4df9b;
    height:30px;
    line-height:30px;
    font-size:13px;
    font-weight:bold;
    padding-left:20px;
}

.mall_box .title{
    height:25px;
    margin-bottom:20px;
    background:url(i/mall/title.png) no-repeat;
}
.mall_box .title h3{
    float:left;
    margin-left:70px;
    font-size:16px;
    line-height:16px;
    font-family:"Microsoft YaHei","黑体";
}
.mall_box ul.product_list{
    padding: 0 5px;
}
.mall_box ul.product_list li{
    width: 160px;
    margin:0 15px;
    float:left;
    height:161px;
}
.mall_box ul.product_list li .pic{
    width: 160px;
    height: 160px;
    border:1px solid #ccc;
    margin:0 auto;
}
.mall_box ul.product_list li .name{
    margin-top:5px;
    text-align:center;
    width: 160px;
    line-height:18px;
    height:36px;
    overflow:hidden;
}
.mall_box ul.product_list li .name a{
    color:#000;
}
.mall_box ul.product_list li .name a:hover{
    color:#ED145B;
}
.mall_box ul.product_list li .price{
    text-align:center;
    line-height:18px;
    color:#ed145b;
    font-weight:bold;
    font-family: Helvetica, arial, sans-serif;
}
.mall_box ul.product_list li .price span.discount{
    color:#818181;
    font-weight:500;
}
.mall_box ul.product_list li .button{
    text-align:center;
    margin-top:5px;
}
#cart .pay_status{
    padding: 10px 0;
}
#cart .pay_status .pay_status_img{
    padding-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
#cart .pay_status .pay_status_img p{
    line-height: 20px;
    margin-left: 10px;
}
#cart .pay_status .pay_status_img p img{
    margin: 5px 0 0 5px;
}
#cart .pay_status .info{
    padding-top: 20px;
}
#cart .pay_status .info p{
    line-height: 20px;
}
#cart .pay_status .info span{
    color:#ed145b;
}
#cart .pay_status .desc{
    background: #fde7ee;
    padding: 20px;
    margin-top: 20px;
}
#cart .pay_status .desc h3{
    font-size: 14px;
    margin-bottom: 15px;
}
#cart .pay_status .desc ol{
    margin-left: 10px;
    line-height: 20px;
}
#cart .pay_status .desc .share_input{
    width:479px;
    height: 23px;
    float:left;
    margin: 10px 0;
}
#cart .pay_status .desc .share_button{
    float:left;
    width:50px;
    height: 22px;
    margin: 11px 0 0px 10px;
    cursor: pointer;
}
#cart .pay_status .service{
    margin-top:20px;
    line-height: 30px;
    color:#a8a8a8;
    margin-top: 5px;
}
#promo_card_submit{
    background:url(i/cart/use_coupon.png) no-repeat;
    width:50px;
    height: 22px;
    border: none;
    margin-top: 0px;
    padding: 1px;
}
#paytype_balance_info font{
    font-family: Helvetica, arial, sans-serif;
}
#cart .cart_right .other_deal{
    border: 1px solid #ccc;
    background: #f5f5f5;
    padding: 8px;
}
#cart .cart_right .other_deal .title{
    font-size: 14px;
    font-weight: bold;

}
#cart .cart_right .other_deal ul{
    margin-top: 10px;
}
#cart .cart_right .other_deal li{

}
#cart .cart_right .other_deal li img{
    border: 1px solid #ccc;
}
#cart .cart_right .other_deal .buyer_number{
    font-size: 14px;
    line-height: 30px;

}
#cart .cart_right .other_deal li span{
    color:#ED145B;
}

#show_promo_card{
    height: 480px;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.switch_off{
    background: url("i/home_filter/filter_bg_switch_off.png") no-repeat right -8px;
}
.switch_on{
    background: url(i/home_filter/filter_bg_switch_on.png) no-repeat right -8px;
}
#show_promo_card li{
    border-bottom: 1px solid #ccc;
    margin: 10px;
    padding: 5px 0;
}
#show_promo_card li span{
    font-weight: bold;
    display: block;
}
#load_promo_card{
    float:right;
    height: 30px;
    padding-right: 15px;
    position: absolute;
    top:120px;
    right:10px;
    cursor: pointer;
}
/* 聚美8-18大促 start */
.sale_gifts_selector{
    width:995px;
    padding: 20px 0;
}
.sale_gifts_selector .level{
    float:left;
    width:329px;
    border: 1px solid #ccc;
    border-right: none;
}
.sale_gifts_selector .level.last{
    border-right: 1px solid #ccc;
}
.sale_gifts_selector .level .til{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    height: 28px;
    line-height: 28px;
    background: #ebebeb;
    border-bottom: 1px solid #ccc;
}
.sale_gifts_selector .level ul{
    padding: 10px 0px;
    height: 102px;
    _position: relative;
}
.sale_gifts_selector .level li{
    width:100px;
    height: 100px;
    border: 1px solid #ccc;
    float:left;
    margin-left: 5px;
    display: inline;
    position: relative;
}
.sale_gifts_selector .enable{
    border: 1px solid #ed145b;
}
.sale_gifts_selector .enable .til{
    background: #ed145b;
    color: #fff;
    border-bottom-color: #ed145b;
}
.sale_gifts_selector .enable ul{
    background: #ffdede;
}
.sale_gifts_selector .enable li{
    cursor: pointer;
}
.sale_gifts_selector .enable li.selected{
    border-color: #ed145b;
}
.sale_gifts_selector .enable li .icon{
    position: absolute;
    bottom: -1px;
    right:-1px;
    background: url(i/cart/cart_selected_icon.png);
    height: 11px;
    width: 11px;
    display: none;
}
.sale_gifts_selector .enable li.selected .icon{
    display: block;
}
.sale_gifts_selector .sold_out .sold_out{
    background: url(http://images.sgdnd.com/sale/summer0818/sold_out.gif) no-repeat;
    width: 44px;
    height: 43px;
    position: absolute;
    top: 3px;
    left: 3px;
    display: block;
}

.sale_gifts_selector li.sold_out img{
    filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}
/* 聚美8-18大促 end */